In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
#create a dataframe with categorical variables
df=pd.DataFrame({
    'color':['red','blue','green','red','blue','green']
})

In [4]:
df

   color
0    red
1   blue
2  green
3    red
4   blue
5  green

In [5]:
#create an instance of label encoder
encoder=LabelEncoder()

In [8]:
encoder.fit_transform(df['color'])
#it has assigned the labels according to the alphabetical order 
#it does not have assigned any rank to the entities

array([2, 0, 1, 2, 0, 1])

# SO WE USE THE ORDINAL ENCODER -to provide the rank to elements

In [9]:
#import ordinal encoder
from sklearn.preprocessing import OrdinalEncoder

dff=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [10]:
dff

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [11]:
#create an instance of the ordinal encoder and fit transform 

encoderr=OrdinalEncoder(categories=[['small','medium','large']])

In [14]:
encoderr.fit_transform(dff[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])