# imbalanced dataset handling
##   1.Upsampling
##   2.Downsampling

In [1]:
import numpy as np
import pandas as pd

In [3]:
#set the random seed for reproduciblity

np.random.seed(123)

#create a dataframe with two classes 
n_samples=1000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=int(n_samples-n_class_0)

In [4]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

# Upsampling

In [16]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
df_minority.head()

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1

In [17]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [19]:
#upsampling perform 

from sklearn.utils import resample

In [20]:
df_minority_upsample=resample(df_minority,
                             replace=True,#sample with replacement
                              n_samples=len(df_majority),#to match the majority class 
                              random_state=42
                             )

In [21]:
 df_minority_upsample.shape

(900, 3)

In [22]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [ ]:
# finally concat the obtained class 

df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [24]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [25]:
df_upsampled.shape # total 1800 rows will be there

(1800, 3)

# DownSampling

In [26]:
class_0=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})

class_1=pd.DataFrame({
    'feature_1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [27]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [28]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [29]:
df_majority_downsample=resample(df_majority,
                             replace=False,#sample without replacement
                              n_samples=len(df_minority),#to match the minority class 
                              random_state=42
                             )

In [30]:
df_majority_downsample.shape

(100, 3)

In [34]:
#concat both minority and downsampled majority class

df_downsample=pd.concat([df_minority,df_majority_downsample])
df.shape

(1000, 3)

In [35]:
df_downsample['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64